.form1{
    width: 298px;
    height: 368px;
background-color: rgb(10, 4, 27);
margin: 20px 40px;
padding: 30px;
color: aliceblue;
margin-top: 39px;

}
.total{



display: flex;


}
#name2{
display: flex;

}
.sec22{
    display: flex;

}
.id_card{
margin: 40px 40px;
border: 1px solid black;
width: 320px;
height:425px;

}
.logobubt{
width: 25px;
padding: 6px;
}
.title{
display: flex;
margin-left: 60px;
}
.idc{

    display: flex;
}
.proc{
    display: flex;

}
.intc{
    display: flex;
}
.bloodc{
    display: flex;

}
.valitidy{
    display: flex;

}
.identy{
   line-height: 0px;
margin-left: 40px;
   
}